name: Test On Push

on:
    push:
        branches:
        - master
    pull_request:
      branches: 
      - master

jobs:
    test:
      runs-on: ubuntu-latest
      steps:
        - name: Setup Python
          uses: actions/setup-python@v6
        - uses: actions/checkout@v5
        - name: Run tests
          run: python tests.py -m output.md -l output.tex -t 10
        - name: Archive markdown && latex tables
          uses: actions/upload-artifact@v5
          with:
            name: markdown && latex
            path: |
              output.md
              output.tex
            retention-days: 5
