name: Test On Push

on:
    push:
        branches:
        - main
    pull_request:
      branches: 
      - main

jobs:
    test:
      runs-on: ubuntu-latest
      steps:
        - name: Setup Python
          uses: actions/setup-python@v6
        - uses: actions/checkout@v5
        - name: Run tests
          run:  python tests.py 
