name: Test On Push

on:
    push:
        branches:
        - main
    pull_request:
      branches: 
      - main

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Setup Python
          uses: actions/setup-python
        - uses: actions/checkout@v3
        - name: Run tests
          run:  python3 tests.py 
